<launch>
    <arg name="slam" default="false" doc="launches rtabmap"/>
    <arg name="rviz" default="true" doc="launches rviz with social_distancing.rviz config file"/>

    <!-- SLAM -->
    <group if="$(arg slam)">
        <include file="$(find rtabmap_ros)/launch/stereo_mapping.launch">
            <arg name="rviz" value="false"/>
            <arg name="rtabmapviz" value="false"/>
        </include>
    </group>

    <!-- Image folder publisher -->
    <node name="image_folder_publisher" pkg="image_folder_publisher" type="image_folder_publisher.py">
        <param name="image_folder_left" value="$(find image_folder_publisher)/data/image_00/data" />
        <param name="image_folder_right" value="$(find image_folder_publisher)/data/image_01/data" />
        <param name="topic_name_left" value="/left_image" />
        <param name="topic_name_right" value="/right_image" />
        <param name="publish_rate" value="15" />
    </node>

    <!-- Object 3d placement -->
    <node pkg="object_3d_placement" type="object_placer.py" name="object_placer"/>


    <!-- Depth image generator -->
    <!-- <node pkg="depth_image_gen" type="depth_image_gen" name="depth_image_gen"/> -->

    <!-- Object detection (BIRK)-->
    <node pkg="object_3d_placement" type="object_detector.py" name="object_detector"/>

    <!-- RVIZ -->
    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find object_3d_placement)/params/social_distancing.rviz"/>
    </group>

</launch>
